<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#profile-nav" data-bs-toggle="collapse" href="#"  routerLink="/user-profile"> <i class="bi bi-person"></i><span>Profile</span></a>
         <ul id="profile-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#dash-nav" data-bs-toggle="collapse" href="#"  routerLink="/dashboard"> <i class="bi bi-journal-text"></i><span>Dashboard</span></a>
         <ul id="dash-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#products-nav" data-bs-toggle="collapse" href="#" routerLink="/dashboard"> <i class="bi bi-journal-text"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="products-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/all-products"> <i class="bi bi-circle"></i><span>All Products</span> </a></li>
            <li> <a routerLink="/submit-product"> <i class="bi bi-circle"></i><span>New Product</span> </a></li>
            <li> <a routerLink="/form-editors"> <i class="bi bi-circle"></i><span>Product 2</span> </a></li>
         </ul>
      </li>
       <li class="nav-heading">Pages</li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/market-home"> <i class="bi bi-house-door-fill"></i> <span>Home</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-contact"> <i class="bi bi-envelope"></i> <span>Contact us</span> </a></li>
    </ul>
 </aside>